* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100vh;
}

body {
    width: 100%;
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*     HEADER     */

#conteiner-header {
    background-color: #714263;
    width: 100%;
    height: auto;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.logo-header {
    width: 10rem;
    height: 5rem;
}

.logo-header:hover {
    animation-name: crecer;
    animation-duration: 1s;
}

@keyframes crecer {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.list-ul{
    list-style-type: none;
} 

.list-a {
    text-decoration: none;  
    font-size: 1.4rem; 
    color: white;
    font-family: cursive;
}
.list-a:hover {
    color: #7cdbc5;
    animation-name: lista;
    animation-duration: 1s;
}

@keyframes lista {
    0% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(1.1);
    }
}


/*     TITULO     */

.conteiner__title {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url(../../img/rosa.jpg);
    color: white;
    background-position: center center;
}

/*   CONTENT INDEX   */

.conteiner__content {
    background-color:#B0F6D4;
    width: 100%;
    height: auto;
}

.productos-box {
    color: #493356;
    background-color:#B0F6D4;
    background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));

    animation-name: deslizar;
    animation-duration: 1.25s;
    animation-timing-function: ease;
}
@keyframes deslizar {
    0% {
        transform: translateY(150%)
    }
    100% {
        transform: translateY(0%)
    }
}

.img-productos {
    width:23rem;
    height:15rem;
}

.btn-productos {
    background-color: #0879c6;
}

.btn-productos:hover {
    background-color: #0c578a;
    animation-name: btn;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes btn {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.1);
    }     
}

/*    PUBLICIDAD    */

.conteiner__redes {    
    background-color:#ff90af;
    width: 100%;
    height: auto;
}

.conteiner__redes--box:first-child {

    background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}


.ico {
    font-size: 80px;
    padding: 25px;
    color:#033353;
} 

.ico:hover {
    animation-name: mover;
    animation-duration: 1.2s;
}

@keyframes mover {
    0% {
        transform:rotate(0deg);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    100% {
        transform:rotate(-20deg);
    }
}

/*        FOOTER       */

.conteiner__footer {    
    background-color:#493356;
    width: 100%;
    height: auto;
}

.list-footer {
    list-style-type: none;
}

.ico-footer {
    font-size: 1.1rem;
    color: white;
}

.ico-footer-text{
    font-size: .85rem;
    color: white;
    
}

/*   PAGINA NOSOTROS    */

/*   SECTION TITLE*/

.bg-title {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url(../../img/margarita.jpg);
}

/*   SECTION CONTENT   */

.conteiner__content-nosotros {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right top, #45618e, #0085b4, #00aac8, #00cec4, #48eead);
}
.art-nosotros{
    animation-name: deslizar;
    animation-duration: 1.25s;
    animation-timing-function: ease;
}
@keyframes deslizar-nosotros {
    0% {
        transform: translateY(150%)
    }
    100% {
        transform: translateY(0%)
    }
}


/*     PAGINA SERVICIOS    */

.container__content--servicios {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    width: 100%;
    height: auto;
}

/*GRID galeria de imagenes*/

.contenedor {
    padding: 4rem;
}

.imagen {
    width: 100%;
    text-align: center;
}

.imagen img {
    width: 100%;

}

.imagen-productos {
    border-radius: .5rem;
    max-width: 18rem;
    max-height: 19rem;
    box-shadow: 0 7px 15px 1px rgba(0,0,0,0.4);
}

.galeria {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(15rem /*min(100%, 25rem)*/, 1fr));
    grid-auto-flow: dense;
    /*grid-template-columns: repeat(3, 1fr);*/
    row-gap: .5rem;
    column-gap: .5rem;
    justify-content:center;
    align-items: center;

    border: 2px solid #0085b4;
    border-radius: .8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

.titulos-productos{
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    font-size: 2.7rem;
    color: rgb(77, 29, 61);
    text-decoration: underline;
}

.descripcion{
    color: black;
    font-family: cursive;
    font-weight: bold;
    font-size: 1.2rem;
}

.precio {
    color: rgb(196, 252, 141);
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    border-radius: .3rem;
}


/*.border-img {
    border-radius: 1rem;
}*/

/*     PAGINA CONTACTO    */

/*   SECTION CONTENT   */


.conteiner__contact {
    background-image: linear-gradient(to top, #845ec2, #8d6ac3, #9676c3, #9e82c4, #a68ec4);
    background-position: center center;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    height: auto;
}

.titulo-contacto{
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 2.5rem;
}

.bg-form {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}


/*     PAGINA PREGUNTAS FRECUENTES     */

/*    SECTION CONTENT   */

.conteiner__content--preguntas {
    background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../../img/marga.jpg);
    width: 100%;
    height: auto;

}

.preguntas__box {
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    border-radius: 1rem;
    font-family:cursive, Helvetica, sans-serif;
}

.preguntas__h2{
    text-decoration: underline;
}

.preguntas__text--consulta {
    font-weight: bold;
    font-size: 1.3rem;
}

.preguntas__text--respuesta {
    font-family: Arial, Helvetica, sans-serif;
}


