.conteiner__footer {    
    background-color:#493356;
    width: 100%;
    height: auto;

    .list-footer {
        list-style-type: none;

        .ico-footer {
            font-size: 1.1rem;
            color: white;
        }
        
        .ico-footer-text{
            font-size: .85rem;
            color: white;
            
        }
    }

}